body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    border-bottom: 1px solid #e0e0e0;
}

.title{
    font-weight: 600;
    font-size: 20px;
    color: black;   
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.menu ul li a:hover{
    border-bottom: 2px solid #4070f4;
    padding-bottom: 5px;
    
}

/* Hero Section */
.hero{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
    gap: 300px;
}

.hero-content p{
    margin: 0;
    font-size: 60px;
    font-weight: bold;
}

.hero-content span{
    color: #4070f4;
}

.hero-content button{
    padding: 10px 40px;
    font-size: 16px;
    background-color: #4070f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero-content button:hover{
    background-color: white;
    border: 2px solid #4070f4;
    transition: ease 0.5s;
    color: black;
}

.hero-image img{
    width: 400px;
    height: auto;
}

/* Social Media Section */
.social-media{
    margin-left: 140px;
}
.social-media ul{
    list-style: none;
}

.social-media ul li{
    display: inline-block;
    margin-right: 20px;
}

.social-media ul li a{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

/* About Section */
.about{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #4070f4;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-skill{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about-box{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-box:hover{
    transform: translateY(-10px);
    transition: ease 0.5s;
}

.about-content-title{
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.about-content-subtitle{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.about-content-desc{
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    color: white;
    text-align: justify;
}

.about-content button{
    padding: 10px 40px;
    font-size: 16px;
    background-color: white;
    color: #4070f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-content p {
    margin: 0;
    width: 600px;
}

/* Floating Button */
.floating-button{
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    bottom: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 24px;
}

.menu-bars{
    font-size: 24px;
    display: none;
}

.title-responsive{
    font-weight: 600;
    font-size: 20px;
    color: black; 
    display: none;   
}

.sidebar-responsive{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
    padding: 20px;
    display: none;
}
.sidebar-responsive ul{
    list-style: none;
}

.sidebar-responsive ul li{
    margin-bottom: 20px;
}

.sidebar-responsive ul li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}
.sidebar-responsive ul li a:hover{
    border-bottom: 2px solid #4070f4;
    padding-bottom: 5px;
    
}

/* media screen */
@media screen and (max-width: 768px){
    .menu {
        display: none;
    }
    .menu-bars{
        display: block;
    }
    .title{
        display: none;
    }
    .title-responsive{
        display: block;
    }
}

/* media screen mobile */
@media screen and (max-width: 480px){
    .header{
        gap: 100px;
        padding: 10px;
    }
    .hero{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        gap: 50px;
        margin-left: 20px;
    }
    .hero-content p{
        font-size: 40px;
    }
    .about{
        flex-direction: column;
        height: auto;
        padding: 50px 0;
        gap: 20px;
        margin-left: 20px;
    }
    .about-content p {
        width: auto;
    }
    .about-skill{
        grid-template-columns: repeat(1, 1fr);
    }
    .about-content{
        margin: 20px;
    }
    .about-content-title{
        font-size: 16px;
    }
}

